.aboutMe {
    margin-top: 80px;
    
    &__grid_container {
        padding: 40px;
        border-radius: 50px;
        background-color: $bg_color;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    &__imgMe {
        max-width: 400px;
        border-radius: 40px;
    }
    &__self {
        padding-left: 70px;
    }
    &__subTitle {
        font-family: "BanderaProMedium";
        position: relative;
        font-size: 20px;
        z-index: 2;
        padding-left: 10px;
        @include circle;
        &::before {
            top: -7px;
        }
    }
    &__title {
        font-size: 36px;
        font-family: "BanderaPro-Bold";
        padding-top: 10px;
    }
    &__divider {
        height: 2px;
        width: 60px;
        background-color: $main-color;
        margin-top: 5px;
    }
    &__introduction {
        padding-top: 20px;
        font-family: 'BanderaProThin';
        
    }

    &__mainTitle {
        font-family: 'BanderaProHeavy';
        margin-top: 35px;
        margin-left: 35px;
    }
    &__skill {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        
        
        &_place {
            list-style: none;
            margin-top: 15px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &_wrap {
            display: flex;
            flex-direction: row;
            
        }
        &_title {
            padding-left: 20px;
            font-family: 'BanderaProHeavy';
        }
        &_prof,&_subTitle,&_descr {
            font-family: 'BanderaProThin';
            padding-left: 20px;
        }
        &_prof {
            font-family: 'BanderaProHeavy';
            font-size: 12px;
            
        }
    }
}