.promo {
    min-height: 100vh;
    position: relative;
    background: url('../image/me/my_promo_small.png') center 40%/cover;
    padding-top: 206px;
    &__title {
        margin-top: 10px;
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
        width: 365px;
        justify-content: space-between;
        align-items: center;
        .wrap {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    &__circle {
        position: relative;
        padding-left: 10px;
        @include circle;
        z-index: 2;
        width: 234px;
    }
    
    &__link {
        font-family: 'BanderaPro-Bold';
        color: #000;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        margin: 12px 25px;
    }
}